<section class="hero is-medium np-hero {{ heroClass or 'is-primary' }}">
  {% if heroShader %}
  <canvas class="shader-canvas" data-shader="{{ heroShader }}" aria-hidden="true"></canvas>
  {% endif %}
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 np-stripes">
        {{ heroTitle or title }}
      </h1>
      {% if heroSubtitle %}
      <p class="subtitle is-3">
        {{ heroSubtitle }}
      </p>
      {% endif %}
    </div>
  </div>
</section>
